<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
    <link th:href="@{/styles/albumStyles.css}" type="text/css" rel="stylesheet">
</head>
<body>

<h3 style="text-align: center">Your Album. Want to upload more? <a th:href="@{/}">click!</a></h3>

<table>
    <tr>
        <td>
            <div class="gallery" th:each="image : ${images}" >
                <a th:href="@{${'/album/showFull/' + image.uuid}}">
                    <img th:src="@{${'/images/' + image.imageName}}" alt="image">
                </a>

                <div class="desc" th:text="${image.getRandComment()}">XXX</div>
            </div>
        </td>
    </tr>
</table>

</body>
</html>