<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Full image</title>
    <link th:href="@{/styles/showFullStyles.css}" type="text/css" rel="stylesheet">
</head>
<body>

<h3 style="text-align: center">Your Full Image. Want to see album? <a th:href="@{/album}">click!</a></h3>

    <div>
        <img th:src="@{${'/images/' + image.imageName}}" alt="image">
    </div>
    <div th:each="imageComment : ${image.comments}">
        <p th:text="${imageComment}"></p>
    </div>
    <hr>
    <div>
        <label>
            <form action="#" th:action="@{/album/showFull/{uuid}(uuid=${image.uuid})}" method="POST">

                <textarea placeholder="Leave your comment here" name="comment"></textarea>
                <br/>
                <input type="submit" value="Add" size="50">
            </form>
        </label>
    </div>
</body>
</html>
