<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Full image</title>
    <style>
        textarea {
            resize: none;
            width: 200px;
            height: 100px;
        }
        input[type=submit]{
            width: 206px;
            text-align: center;
        }
    </style>
</head>
<body>

<h3 style="text-align: center">Your Full Image. Want to see album? <a th:href="@{/album}">click!</a></h3>

    <div>
        <img th:src="@{${'/images/' + image.name}}" alt="image">
    </div>
    <div th:each="imageComment : ${image.getComments()}">
        <p th:text="${imageComment}"></p>
    </div>
    <hr>
    <div>
        <label>
            <form action="#" th:action="@{/album/showFull/{name}(name=${image.name})}" method="POST">
                <textarea placeholder="Leave your comment here" name="comment"></textarea>
                <br/>
                <input type="submit" value="Add" size="50">
            </form>
        </label>
    </div>
</body>
</html>
