<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link th:href="@{/styles/uploadStyles.css}" type="text/css" rel="stylesheet">
</head>
<body>
File(image):<br>
<form method="POST" action="saveImage" enctype="multipart/form-data" id="uploadForm">
    <input type="file" name="myFile" accept="image/*" required/> <br/>

    Commentary: <br/>

    <label>
        <textarea placeholder="Leave your comment here" name="comments" form="uploadForm"></textarea>
    </label><br/>

    <input type="submit" value="Upload"/><br/>
    <a th:href="@{'/album/'}">Show my gallery</a><br/>

</form>
<hr>
<br/>
<div th:if="${image.name != null}">You Uploaded:
    <span th:text="${image.name}"></span><br/>
    <img th:src="@{${'/images/' + image.name}}">
</div>
</body>
</html>